@hec:registry=https://nexus.anchors-biz.com/repository/npm-repo/
//nexus.anchors-biz.com/repository/npm-repo/:_authToken=NpmToken.4a28917a-54ba-3f3e-9027-24ab5edf1e3d
//nexus.anchors-biz.com/repository/npm-repo/:always-auth=true