@hec:registry=https://nexus.anchors-biz.com/repository/npm-group/
//nexus.anchors-biz.com/repository/npm-group/:_auth=YW5jaG9yczpEb2R6anRtMTchIQ==
//nexus.anchors-biz.com/repository/npm-group/:always_auth=true
